/* src/app/globals.css */

@import "tailwindcss";

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #020617;
  color: white;
  font-family: var(--font-poppins);
}/* Perspective */
.perspective {
  perspective: 1200px;
}
/* Perspective */
.perspective {
  perspective: 1200px;
}

/* Cube */
.cube {
  position: relative;
  width: 220px;
  height: 220px;
  transform-style: preserve-3d;
  animation: rotateCube 12s infinite linear;
}

/* Cube Face */
.cube-face {
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 28px;
  background: rgba(15, 23, 42, 0.75);
  border: 1px solid rgba(168, 85, 247, 0.4);
  backdrop-filter: blur(20px);
  box-shadow:
    0 0 40px rgba(168, 85, 247, 0.15),
    inset 0 0 30px rgba(168, 85, 247, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
  font-weight: 700;

  background-image:
    linear-gradient(135deg,
      rgba(168, 85, 247, 0.15),
      rgba(34, 211, 238, 0.1));
}

/* Text Glow */
.cube-face span {
  background: linear-gradient(to right,
      #a855f7,
      #22d3ee);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 0 20px rgba(168, 85, 247, 0.4);
}

/* Cube Sides */

.front {
  transform: rotateY(0deg) translateZ(110px);
}

.back {
  transform: rotateY(180deg) translateZ(110px);
}

.right {
  transform: rotateY(90deg) translateZ(110px);
}

.left {
  transform: rotateY(-90deg) translateZ(110px);
}

.top {
  transform: rotateX(90deg) translateZ(110px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(110px);
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 12s linear infinite;
}